<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        #userTable{
            width: 30%;
            margin: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/balloons">WEB PROGRAMMING SHOP</a>


        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/balloons">Home</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="card">
    <h2 class="card-header" th:text="'User :'+${session.user.getName()}" ></h2>
    <h3 class="card-header" th:text="'Time :'+${session.date}"></h3>
    <div class="card-body">
        <h3 class="card-body">Has items :</h3>

        <table id="userTable" class="table table-bordered">
            <thead>
            <tr class="bg-primary" >
                <th scope="col">Color</th>
                <th scope="col">Size</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-info" th:each="order, stat: ${session.orders}">
                <td th:text="${order.getBalloonColor()}"></td>
                <td th:text="${order.getBalloonSize()}"></td>
            </tr>
            </tbody>


    </table>
        <div style="margin: 10px" class="col-md-4 col-sm-4 col-xs-4">
            <a class="btn btn-primary" href="/balloons">home</a>
        </div>

    </div>


</div>

</body>
</html>